*{
    margin: 0;
    padding: 0;
}
main{
    padding-top: 2rem;
}
h1{
    padding-bottom: 2rem;
}
body {
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgb(0, 0,0, 0.3);
    font-size: 8vmin;
    color: rgb(125, 24, 24);
}
#rest-btn{
    /* so padding will apply for all side */
    padding: 1rem;
    /* height: 8vmin; 
    width: 20vmin; */
    font-size: 1.25rem;
    background-color: black;
    color: white;
   
    border-radius: 0.6rem;
    /* text-align: center;
    align-content: center; */

}
 #new-btn{
     /* so padding will apply for all side */
     padding: 1rem;
     /* height: 8vmin; 
     width: 20vmin; */
     font-size: 1.25rem;
     background-color: black;
     color: white;
    
     border-radius: 0.6rem;
     /* text-align: center;
     align-content: center; */

 }
 #msg{
    color: #ffffc7;
    font-size: 5vmin;
 }
 .msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

 }

 .hide{
    display: none;
 }